*{
    box-sizing: border-box;
}

:root{
    /*background-color: #152238;*/
    --bkgcolor: #152238;
    --textcolor: aliceblue;
}

header{
    padding: 30px;
    text-align: center;
    background-color: var(--bkgcolor);
    color: var(--textcolor);
    font-family: Comfortaa,'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

main{
    display: flex;
    /*background-image: linear-gradient(#ADD8E6,#152238);*/
    background-color: #1c2e4a;
    background-repeat: no-repeat;
}


.combo ul li{
    background-color: black;
}

.combo p{
    color:black;
    background-color: white;
}


footer{
    background-color: var(--bkgcolor);
    color: white;
    text-align: center;
    padding: 30px;
}


@media screen and (max-width: 768px) {
    main{
      flex-direction: column;
    }
    header {
      background: black;
    }
   footer {
      background-color: black;
    }
  }