*{
    box-sizing: border-box;
}

:root{
    /*background-color: #152238;*/
    --bkgcolor: #152238;
    --textcolor: aliceblue;
}

header{
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: var(--bkgcolor);
    color: var(--textcolor);
    font-family: Comfortaa,'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

/*removes page margin in all directions*/
body{
    margin: 0;
    font-family: Lora;
}

main{
    display: flex;
    background-image: linear-gradient(#ADD8E6,#152238);
    background-repeat: no-repeat;
}

.detail{
    display: flex;
    justify-content: space-between;
}

h2{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    width: 25%;
}

.right p{
    display: flex;
    background-color: bisque;
    flex-grow: 4;
}

footer{
    background-color: var(--bkgcolor);
    color: white;
    text-align: center;
    padding: 30px;
}


@media screen and (max-width: 400px) {
    main{
      flex-direction: column;
    }
    header {
      background: black;
    }
   footer {
      background-color: black;
    }
  }