:root{
    /*background-color: #152238;*/
    --bkgcolor: #13201b;
    --textcolor: white;
    --block: #d5d6c2;
    --block2: 879478;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px;
    letter-spacing: 15px;
    font-size: 80px;
    background-image: linear-gradient(#add8e6,#eeeee3);
    color: var(--textcolor);
}

h1{
    display: flex;
    flex: 1;
    justify-content: center;
}

/*links to jump down the page without scrolling*/
nav{
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
}

ul {
    display: flex;
}

/*removes page margin in all directions*/
body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

main{
    flex-direction: column;
    background-image: linear-gradient(#eeeee3,var(--bkgcolor));
    background-repeat: no-repeat;
}

h2,
h3,
h4,
h5{
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    color: var(--textcolor);
    font-size: 40px;
    letter-spacing: 5px;
}

/*About Me*/
.left{
    display: flex;
    margin-left: 20px;
    padding: 30px;
}

.intro{
    display: flex;
}

.intro p{
    display: flex;
    font-size: 28px;
    line-height: 1.5;
    flex: 0 0 80%;
    color: var(--block);
    background-color: var(--bkgcolor);
    align-items: center;
}

.intro img{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.projects{
    display: flex;
    margin-left: 20px;
    padding: 30px;
}

/*first project, study guide, is larger than the rest*/
.examples:first-child{
    height: 600px;
    border: var(--bkgcolor) solid;
}

#firstimg{
    height: 300px;
    position: absolute;
    margin-left: 20px;
}

.examples{
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: var(--bkgcolor);
}

.examples header{
    flex-wrap: wrap;
    flex: 0 0 20%;
    line-height: 1.5;
    color: var(--bkgcolor);
    font-size: 25px;
    justify-content: flex-start;
}

#text{
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.projects p{
    flex: 0 0 40%;
    font-size: 15px;
    color: var(--textcolor)
}

#imgsize{
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}

.work{
    display: flex;
    flex: 0 0 60%;
}

.work div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 2;
    padding: 5px;
    text-indent: 20px;
    color: var(--textcolor);
    background-color: var(--bkgcolor);
}

.work div ul li:first-child{
    font-size: 25px;
    font-weight: bold;
}

.work header{
    font-size: 30px;
    margin: 20px;
    padding: 0;
    color: var(--bkgcolor)
}

/*Contact Me*/
.connect{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.connect p{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

button{
    margin: 20px;
}

.link:hover{
    background-color: var(--textcolor)
}

form{
    display: flex;
    color: var(--textcolor);
    font-size: 40px;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

input:hover{
    background-color:var(--bkgcolor);
}

button:hover{
    background-color: var(--bkgcolor);
    color: var(--textcolor);
    color: gray;
    box-shadow: 0 0 10px aliceblue;
}

.link{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 40px;
}

footer{
    background-image: linear-gradient(var(--bkgcolor), #171c1a);
    color: white;
    font-size: 15px;
    padding: 30px;
    text-align: right;
}

@media screen and (max-width: 1000px) {
    .intro img{
        width: 50px;
        height: 60px;
    } 
    #imgsize{
        width: 50px;
        height: 60px;
    }
    #firstimg{
        width: 50px;
        height: 60px;
    }
    header{
        font-size: 30px;
    }
}

@media screen and (max-width: 950px){
    .work{
        flex-wrap: wrap;
    }
    .examples{
        flex-wrap: wrap;
    }
}